Repository Jorge-Hoyos/certifications: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, deploy

build:
  image: docker:19.03.12
  stage: build-image
  services:
  - docker:19.03.12-dind
  script:
  - echo -e "\e[0Ksection_start:`date +%s`:docker[collapsed=true]\r\e[0K${TXT_CYAN_BOLD}Tag and push image"
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

deploy:
  image: registry.gitlab.com/jorgehoyos/certifications:latest
  stage: deploy-sam
  script:
  - sam build
  - sam deploy
  variables:
    MY_VAR: foo

testing cd path
  .gitlab-ci.yml
  deploy/certifications-audios/hello_world/app.py
Due: deploy

installing python37 in base image
  .gitlab-ci.yml
  deploy/certifications-audios/hello_world/app.py
  docker/Dockerfile
Due: build, deploy

changing confirm change set to false to auto deploy
  deploy/certifications-audios/samconfig.toml
Due: deploy

failing deploy stage
  deploy/certifications-audios/template.yaml
Due: deploy

adding call api stage
  .gitlab-ci.yml
  info.json
Due: none

testing call api
  deploy/certifications-audios/hello_world/app.py
  deploy/certifications-audios/template.yaml
Due: deploy

testing call api
  .gitlab-ci.yml
Due: none

[skip-ci] adding lectures for r53, elb and asg and rds
  .gitlab-ci.yml
  aws/associate-level/developer/notes/aws-fundamentals-iam-ec2.md
  aws/associate-level/developer/notes/beginners-guide-to-iam.md
  aws/associate-level/developer/notes/elb-and-asg.md
  aws/associate-level/developer/notes/introduction-to-serverless-computing.md
  aws/associate-level/developer/notes/rds-aurora-elasticache.md
  aws/associate-level/developer/notes/regions-and-azs.md
  aws/associate-level/developer/notes/route-53.md
Due: none

adding gitlab stages and new image dependencies
  .gitlab-ci.yml
  deploy/certifications-audios/hello_world/app.py
  deploy/certifications-audios/synthesis_text/__init__.py
  deploy/certifications-audios/synthesis_text/app.py
  deploy/certifications-audios/synthesis_text/requirements.txt
Due: deploy

adding image requirements and building image
  docker/requirements.txt
Due: build

installing git in base image and adding rule for synthesis audios stage
  .gitlab-ci.yml
  docker/Dockerfile
Due: build

testing synthesis stage
  .gitlab-ci.yml
  aws/associate-level/developer/notes/route-53.md
  parse/read-file.py
Due: none

testing synthesis stage
  .gitlab-ci.yml
  aws/associate-level/developer/notes/route-53.md
Due: none

fixing trigger for synthesis script
  .gitlab-ci.yml
  aws/associate-level/developer/notes/route-53.md
Due: none

deleting info, calling python3 instead of python
  aws/associate-level/developer/notes/route-53.md
  info.json
  parse/example.md
Due: none

deleting info, calling python3 instead of python
  .gitlab-ci.yml
  aws/associate-level/developer/notes/route-53.md
Due: none

Path conditions:
  build: any of: docker/*
  deploy: any of: deploy/**/*, deploy/*
